<div id="diomsg-sidebar" class="diomsg-column diomsg-sidebar-container"></div>
<div id="diomsg-main-container" class="diomsg-column diomsg-main-container">
  <div class="diomsg-toolbar">
    <ul class="diomsg-toolbar-actions-list">
      <li class="diomsg-toolbar-action">
        <a id="diomsg-new-chat-button" class="diomsg-chat-button" title="Create a new chat."><i class="icon icon-plus"></i></a>
      </li>
      <li class="diomsg-toolbar-action">
        <a id="diomsg-close-chat-button" class="diomsg-chat-button" title="Close the currently active chat."><i class="icon icon-trash"></i></a>
      </li>
      <li class="diomsg-toolbar-action">
        <a id="diomsg-toggle-user-chat-list-button" class="diomsg-chat-button">Toggle User Chat List</a>
      </li>
    </ul>
  </div>

  <div id="diomsg-errors-container"></div>

  <div id="diomsg-chat-list-container" class="diomsg-chat-list-container">
    <div class="diomsg-chat-message-list-container">
      <span class="diomsg-chat-initiation-message"></span>
      <ul class="diomsg-chat-message-list"></ul>
    </div>
  </div>

  <div id="diomsg-chat-message-input-box-container"></div>
  <div id="diomsg-poll-pending-messages-view-container-placeholder"></div>
</div>
<div id="diomsg-empty-response-container"></div>