.diomsg-app-content {
  overflow: hidden;
}

.diomsg-column {
  float: left;
}

.diomsg-main-container {
  width: 75%;
}

.diomsg-sidebar-container {
  width: 25%;
}

.diomsg-toolbar {
  border-bottom: 1px solid #CCC;
  height: 50px;
  overflow: hidden;
}

.diomsg-toolbar-actions-list {
  list-style: none;
  overflow: hidden;
}

.diomsg-toolbar-action {
  float: left;
}

.diomsg-new-chat-button  {
  border: 1px solid transparent;
  display: block;
  transition: all .2s ease-in-out
}
.diomsg-new-chat-button:hover {
background: #FFF;
border-color: #CCC;
border-radius: 3px;
cursor: pointer;
}

.ico-plus {
  background: url('%{media}/.assets/devIcons.svg') no-repeat center transparent;
  background-position: 0px -64px;
  background-size: cover;
  display: block;
  height: 16px;
  margin: 6px;
  width: 16px;
}

.diomsg-message-input-field {
  float: left;
}

.diomsg-chat-message-list {
  background: rgba(240, 240, 240, .9);
}

.diomsg-message-container {
  float: left;
  margin: 4px;
  width: 75%;
}

.diomsg-message-author {
  background: white;
  float: left;
  font-size: 1.4em;
  margin: 0 4px 0 0;
  padding: 4px;
}

.diomsg-message {
  background: #51ace0;
  border-radius: 4px;
  color: white;
  float: left;
  font-size: 1.2em;
  margin: 0;
  padding: 4px;
  width: 80%;
}

.diomsg-user-chat  {
  background: white;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4px;
  padding: 4px
}
.diomsg-user-chat:last-child {
margin-bottom: 0;
}

.diomsg-user-chat-list-item-container {
  overflow: hidden;
}

.diomsg-user-chat-list-item-message-author {
  color: #ccc;
  font-size: .9em;
}

.diomsg-user-chat-list-item-message-content {
  color: #51ace0;
}

.diomsg-user-chat-list-item-message-created-at {
  color: #ccc;
  float: right;
  font-size: .85em;
  font-style: italic;
}