.diomsg-toolbar {
  border-bottom: 1px solid #CCC;
  height: 50px;
  overflow: hidden;
}

.diomsg-toolbar-actions-list {
  list-style: none;
  overflow: hidden;
}

.diomsg-toolbar-action {
  float: left;
}

.diomsg-new-chat-button {
  border: 1px solid transparent;
  display: block;
  transition: all .2s ease-in-out;
  
  &:hover {
    background: #FFF;
    border-color: #CCC;
    border-radius: 3px;
    cursor: pointer;
  }
}

.ico-plus {
  background: url('%{media}/.assets/devIcons.svg') no-repeat center transparent;
  background-position: 0px -64px;
  background-size: cover;
  display: block;
  height: 16px;
  margin: 6px;
  width: 16px;
}

.diomsg-chat-message-list {
  
}